.header {
  flex-shrink: none;
}

.deck-details {
  background: var(--mantine-color-gray-8);
  color: var(--mantine-color-white);
  height: 100%;
  width: 100%;
}

.grids-wrapper {
  flex-grow: 1;
  position: relative;
  background: var(--mantine-color-gray-9);
  flex-grow: 1;
}

.empty-grid {
  display: grid;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.button-grid {
  display: grid;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}
